.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #4E944F;
}

.header__logo{
    height: 25px;
    object-fit: contain;
    margin-left: 20px;
}

.header__input{
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid black;
    
}

.header__icons{
    display: flex;
    align-items: center;
}

.header__i{ 
    margin-right: 10px;
}

.header__input > input{
    flex: 1;
    border: none;
    background-color: #4E944F !important;
}
.header__input ::-webkit-input-placeholder { 
    color: black;
}
.header__input ::-moz-placeholder { 
    color: black;
}
.header__input ::-moz-placeholder  { 
    color: black;
}

.header__inputbutton{
    width: 50px !important;
    margin-top: 10px;
    background-color: #4E944F;
    border-left: 1px solid #4E944F;
    color: black;
}

.header__icon{
    margin-right: 8px;
}